*,
::after,
::before {

  
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background:  #6469ee;
  color: #2C30A8;
  line-height: 1.5;
  font-size: 0.875rem;
}

.title{
	text-align: center;
	font-size: 30px;
	color: #2C30A8;
}

h1{
	text-align: center;
	margin-top: 1em;
	font-size: 3rem;
	letter-spacing: 0.25rem;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h2{
	margin-top: 1em;
	text-align: center;
	font-size: 2rem;
	letter-spacing: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h3{
	margin-bottom: 0.5rem;
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.25rem;
    line-height: 1.25;
}


p {
  margin-bottom: 1.25rem;
  color: #1f2270;
}


main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}



.description{
	color: #2C30A8;
	text-align: center;
	left: 0; 
     margin-bottom: 0px;
	font-size: calc(0.75rem + 20 * (10vw - 15px) / 880);
	font-family: TREBUCHET MS, sans-serif;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.line1{
    width: 70%;
    height: 1px;
    background-color: #2C30A8;
    z-index: 50;
    margin-left: 15%;
    margin-right: 
}

.ear1{
	margin-left: 30px;
	background-color: #b724b7;
	width: 110px;
	height: 90px;
	position: relative;
}
.ear2{
	margin-left: 280px;
	background-color: #b724b7;
	width: 110px;
	height: 90px;
	position: relative;
	margin-top: -90px;
}

.insideear{
	background-color: gold;
	width: 70px;
	height: 70px;
	margin: auto;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px; 
}

.face{
	width: 420px;
	height:325px;
	background-color: #b724b7;
	
}
.eyes{
	width: 420px;
	height: 95px;
}
.eye1{
	width: 110px;
	background-color: gold;
	height: 95px;
	margin-left: 50px;
	position: absolute;
	margin-top: 40px;
}
.eye2{
	width: 110px;
	background-color: gold;
	height: 95px;
	margin-left: 260px;
	position: absolute;
	margin-top: 40px;
}
.insideeye1{
	background-color: black;
	height: 70px;
	width: 50px;
	position: absolute;
	margin-top: 25px;
	margin-left: 60px; 
}
.insideeye2{
	background-color: black;
	height: 70px;
	width: 50px;
	position: absolute;
	margin-top: 25px;	 
}
.nose{
	background-color: #ffbf6c;
	width: 140px;
	height: 50px;
	margin: auto;
	margin-top: 80px;
}
.nostril1{
	background-color: #eb3298;
	height: 40px;
	width: 25px;
	margin-top: 10px;
	position: absolute;
	margin-left: 30px;
}
.nostril2{
	background-color: #eb3298;
	height: 40px;
	width: 25px;
	margin-top: 10px;
	position: absolute;
	margin-left: 85px;
}

.mouth{
	background-color: #c71d1d;
	width: 308px;
	height: 40px;
	margin-left: 56px;
	margin-top: 30px;
}

.tooth1{
	position: absolute;
	background-color: black;
	width: 22px;
	height: 20px;
	margin-left: 44px;
}
.tooth2{
	position: absolute;
	background-color: black;
	width: 22px;
	height: 20px;
	margin-left: 88px;
}
.tooth3{
	position: absolute;
	background-color: black;
	width: 22px;
	height: 20px;
	margin-left: 132px;
}
.tooth4{
	position: absolute;
	background-color: black;
	width: 22px;
	height: 20px;
	margin-left: 176px;
}
.tooth5{
	position: absolute;
	background-color: black;
	width: 22px;
	height: 20px;
	margin-left: 220px;
}
.tooth6{
	position: absolute;
	background-color: black;
	width: 22px;
	height: 20px;
	margin-left: 264px;
}
.tooth7{
	position: absolute;
	background-color: white;
	width: 22px;
	height: 20px;
	margin-left: 22px;
	margin-top: 20px;
}
.tooth8{
	position: absolute;
	background-color: white;
	width: 22px;
	height: 20px;
	margin-left: 66px;
	margin-top: 20px;
}
.tooth9{
	position: absolute;
	background-color: white;
	width: 22px;
	height: 20px;
	margin-left: 110px;
	margin-top: 20px;
}
.tooth10{
	position: absolute;
	background-color: white;
	width: 22px;
	height: 20px;
	margin-left: 154px;
	margin-top: 20px;
}
.tooth11{
	position: absolute;
	background-color: white;
	width: 22px;
	height: 20px;
	margin-left: 198px;
	margin-top: 20px;
}
.tooth12{
	position: absolute;
	background-color: white;
	width: 22px;
	height: 20px;
	margin-left: 242px;
	margin-top: 20px;
}
.neck{
	background-color: #b724b7;
	height: 60px;
	width: 160px;
	position: absolute;
	margin-left: 130px;
}
.necklace{
	background-color: gold;
	height: 20px;
	width: 160px;
	position: absolute;
	margin-top: 20px;
}

.belly{
	width: 300px;
	background-color: #b724b7;
	height: 300px;
	margin-top: 60px;
	position: absolute;
	margin-left: 60px;
    border-radius: 20px;
}
.larm{
	background-color: #b724b7;
	border-radius: 20px 0 0 20px;
	width: 90px;
	height: 80px;
	margin-top: 120px;
	position: absolute;
}

.rarm{
	background-color: #b724b7;
	border-radius: 0px 20px 20px 0;
	width: 80px;
	height: 80px;
	margin-top: 120px;
	position: absolute;
	margin-left: 340px;
}

.ahoof1{
    background-color: black;
	border-radius: 20px 0px 0px 20px;
	width: 20px;
	height: 80px;
	margin-top: 0px;
	position: absolute;	
}

.ahoof2{
    background-color: black;
	border-radius: 0px 20px 20px 0px;
	width: 20px;
	height: 80px;
	margin-top: 0px;
	position: absolute;	
	margin-left: 60px;
}

.insidebelly{
    margin-top: -50px;
	margin-left: 50px; 
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-color: #ffbf6c;
	margin-top: 70px; 
}

.lleg{
	background-color: #b724b7;
	border-radius: 0 0 20px 20px;
	width: 90px;
	height: 80px;
	margin-top: 360px;
	position: absolute;
	margin-left: 90px;
}

.rleg{
	background-color: #b724b7;
	border-radius: 0 0 20px 20px;
	width: 90px;
	height: 80px;
	margin-top: 360px;
	position: absolute;
	margin-left: 240px;
}

.lhoof1{
	background-color: black;
	border-radius: 0 0 20px 20px;
	width: 90px;
	height: 20px;
	margin-top: 60px;
	position: absolute;
	margin-left: 0px;
}

.lhoof2{
	background-color: black;
	border-radius: 0 0 20px 20px;
	width: 90px;
	height: 20px;
	margin-top: 60px;
	position: absolute;
	margin-left: 0px;
}


















.transparent{
	color: none;
}

.purple{
	background-color: #b724b7; 
}

.yellow{
	background-color: gold;
}

.black{
	background-color: black; 
}

.flesh{
	background-color: #ffd6a0;
}

.pink{
	background-color: pink;
}

.red{
	background-color: #c71d1d;
}

.white{
	background-color: white;
}

.row{
	display: flex;
}

.block11{
	width: 30px;
	height: 20px;
}
.block12{
	width: 110px;
	height: 20px;
}
.block13{
	width: 140px;
	height: 20px;
}
.block14{
	width: 110px;
	height: 20px;
}
.block15{
	width: 30px;
	height: 20px;
}
.block21{
	width: 30px;
	height: 70px;
}
.block22{
	width: 20px;
	height: 70px;
}
.block23{
	width: 70px;
	height: 70px;
}  
.block24{
	width: 20px;
	height: 70px;
}  
.block25{
	width: 140px;
	height: 70px;
}  
.block26{
	width: 20px;
	height: 70px;
}  
.block27{
	width: 70px;
	height: 70px;
}    
.block28{
	width: 20px;
	height: 70px;
}  
.block29{
	width: 20px;
	height: 70px;
}
.block31{
	width: 420px;
	height: 40px;
}    
.block41{
	width: 30px;
	height: 25px;
}
.block42{
	width: 110px;
	height: 25px;
}
.block43{
	width: 140px;
	height: 25px;
}
.block44{
	width: 110px;
	height: 25px;
}
.block45{
	width: 30px;
	height: 25px;
}
.block51{
	width: 30px;
	height: 70px;
}
.block52{
	width: 70px;
	height: 70px;
}
.block53{
	width: 40px;
	height: 70px;
}
.block54{
	width: 140px;
	height: 70px;
}
.block55{
	width: 40px;
	height: 70px;
}
.block56{
	width: 70px;
	height: 70px;
}
.block57{
	width: 30px;
	height: 70px;
}
.block61{
	width: 420px;
	height: 20px;
} 
.block71{
	width: 130px;
	height: 15px;
}
.block72{
	width: 160px;
	height: 15px;
}
.block73{
	width: 130px;
	height: 15px;
}
.block81{
	width: 130px;
	height: 50px;
}
.block82{
	width: 25px;
	height: 50px;
}
.block83{
	width: 30px;
	height: 50px;
}
.block84{
	width: 50px;
	height: 50px;
}
.block85{
	width: 30px;
	height: 50px;
}
.block86{
	width: 25px;
	height: 50px;
}
.block87{
	width: 130px;
	height: 50px;
}
.block91{
	width: 420px;
	height: 20px;
}
.block101{
	width: 28px;
	height: 25px;
}
.block102{
	width: 52px;
	height: 25px;
}
.block103{
	width: 26px;
	height: 25px;
}
.block104{
	width: 26px;
	height: 25px;
}
.block105{
	width: 26px;
	height: 25px;
}
.block106{
	width: 26px;
	height: 25px;
}
.block107{
	width: 26px;
	height: 25px;
}
.block108{
	width: 26px;
	height: 25px;
}
.block109{
	width: 26px;
	height: 25px;
}
.block1010{
	width: 26px;
	height: 25px;
}
.block1011{
	width: 26px;
	height: 25px;
}
.block1012{
	width: 26px;
	height: 25px;
}
.block1013{
	width: 26px;
	height: 25px;
}
.block1014{
	width: 26px;
	height: 25px;
}
.block1015{
	width: 28px;
	height: 25px;
}
.block111{
	width: 28px;
	height: 25px;
}
.block112{
	width: 26px;
	height: 25px;
}
.block113{
	width: 26px;
	height: 25px;
}
.block114{
	width: 26px;
	height: 25px;
}
.block115{
	width: 26px;
	height: 25px;
}
.block116{
	width: 26px;
	height: 25px;
}
.block117{
	width: 26px;
	height: 25px;
}
.block118{
	width: 26px;
	height: 25px;
}
.block119{
	width: 26px;
	height: 25px;
}
.block1110{
	width: 26px;
	height: 25px;
}
.block1111{
	width: 26px;
	height: 25px;
}
.block1112{
	width: 26px;
	height: 25px;
}
.block1113{
	width: 26px;
	height: 25px;
}
.block1114{
	width: 52px;
	height: 25px;
}
.block1115{
	width: 28px;
	height: 25px;
}
.block121{
	width: 420px;
	height: 35px;
}
.block131{
	width: 140px;
	height: 15px;
}
.block132{
	width: 140px;
	height: 15px;
}
.block133{
	width: 140px;
	height: 15px;
}
.block141{
	width: 140px;
	height: 15px;
}
.block142{
	width: 140px;
	height: 15px;
}
.block143{
	width: 140px;
	height: 15px;
}
.block151{
	width: 140px;
	height: 15px;
}
.block152{
	width: 140px;
	height: 15px;
}
.block153{
	width: 140px;
	height: 15px;
}
.block161{
	width: 60px;
	height: 40px;
}
.block162{
	width: 300px;
	height: 40px;
	border-radius: 15px 15px 0px 0px;
}
.block163{
	width: 60px;
	height: 40px;
}
.block171{
	width: 10px;
	height: 80px;
}
.block172{
	width: 20px;
	height: 80px;
	border-radius: 15px 0px 0px 15px;
}
.block173{
	width: 360px;
	height: 80px;
}
.block174{
	width: 20px;
	height: 80px;
	border-radius: 0px 15px 15px 0px;
}
.block175{
	width: 10px;
	height: 80px;
}
.block181{
	width: 60px;
	height: 180px;
}
.block182{
	width: 300px;
	height: 180px;
	border-radius: 0px 0px 15px 15px;
}
.block183{
	margin-top: -50px;
	margin-left: 50px; 
	width: 200px;
	height: 200px;
	border-radius: 200px;
}
.block184{
	width: 60px;
	height: 180px;
}
.block191{
	width: 90px;
	height: 60px;
}
.block192{
	width: 60px;
	height: 60px;
}
.block193{
	width: 120px;
	height: 60px;
}
.block194{
	width: 60px;
	height: 60px;
}
.block195{
	width: 90px;
	height: 60px;
}
.block201{
	width: 90px;
	height: 20px;
}
.block202{
	width: 60px;
	height: 20px;
	border-radius: 0px 0px 15px 15px;
}
.block203{
	width: 120px;
	height: 20px;
}
.block204{
	width: 60px;
	height: 20px;
	border-radius: 0px 0px 15px 15px;
}
.block205{
	width: 90px;
	height: 20px;
}
.dragon{
	position: relative;
	margin: auto;
	width: 420px;
}
