




body{font-family: sans-serif;background:  #6469ee;color: #2C30A8;line-height: 1.5;font-size: 0.875rem;display: flex;flex-direction: column}

h1,h3{margin-top: 1em; text-align: center;letter-spacing: 0.25rem;line-height: 1.25;margin-bottom: 0.75rem}



h3{margin:10px 0 20px 0;color:#888;font-weight:normal}

span.swatch{display:inline-block;width:14px;height:14px;background:#eee;margin-right:10px}

span.element-metal{background: #4dce83}

span.element-non-metal{background: #b9c4c8}

span.element-alkali-metal{background: #d5e38f}

span.element-alkali-earth-metal{background: #b3e3cc}

span.element-transition-metal{background: #b0dcfe}

span.element-lanthoid{background: #ffee3a}

span.element-actinoid{background: #ffc847}

span.element-metalloid{background: #e58a8a}

span.element-halogen{background: #d6c190}

span.element-noble-gas{background: #adadda}

#key{position:absolute;left:100px;z-index:100;margin-top:55px}

#key ul{float:left;margin-right:40px}

#key ul li{line-height:1.5em;font-size:.8em;color:#B6B6B6}

#wrapper{width:990px;margin:0 auto 30px auto;height:600px;position:relative}[class^="element-"]{cursor:pointer;position:relative;z-index:1;color:#333;width:55px;height:55px;font-size:12px;display:block;float:left}[class^="element-"] 

.chip{width:100%;height:100%}[class^="element-"] 

.chip.long .front strong{margin-top:8px;font-size:1.38em}[class^="element-"] 

.chip.long .back p{margin-top:20px}[class^="element-"] 

.face{position:absolute;width:100%;height:100%}[class^="element-"] 

.face.front{padding:4px}[class^="element-"] .face.front i{display:block;font-size:.8em}[class^="element-"] 

.face.front strong{font-size:2.2em;display:block;font-weight:bold;text-shadow:0 1px 0 rgba(255,255,255,0.2);text-align:center;margin-top:4px;background:rgba(0,0,0,0.1)}[class^="element-"] 

.face.back{display:block;background:#eee;color:#111}[class^="element-"] 

.face.back p{margin-top:16px;line-height:1.2;text-align:center;font-size:.7em;font-weight:600}[class^="element-"] 

.face.back p span{display:block}

.element-metal .front{color:#2d2d2d}

.element-metal .face.back{background-color:#4dce83}

.element-alkali-metal .front{color:#3b4311}

.element-alkali-metal .face.back{background-color:#d5e38f}

.element-alkali-earth-metal .front{color:#133323}

.element-alkali-earth-metal .face.back{background-color:#b3e3cc}

.element-transition-metal .front{color:#012948}

.element-transition-metal .face.back{background-color:#b0dcfe}

.element-lanthoid .front{color:#443e00}

.element-lanthoid .face.back{background-color:#ffee3a}

.element-actinoid .front{color:#140e00}

.element-actinoid .face.back{background-color:#ffc847}

.element-metalloid .front{color:#320b0b}

.element-metalloid .face.back{background-color:#e58a8a}

.element-non-metal .front{color:#131718}

.element-non-metal .face.back{background-color:#b9c4c8}

.element-halogen .front{color:#0c0904}

.element-halogen .face.back{background-color:#d6c190}

.element-noble-gas .front{color:#1b1b3a}

.element-noble-gas .face.back{background-color:#adadda}

.element-lanthanoid-transitional-metal .front{color:#1b1b3a}

.element-lanthanoid-transitional-metal .face.back{background-color:#b0dcfe}

.element-actinoid-transitional-metal .front{color:#1b1b3a}

.element-actinoid-transitional-metal .face.back{background-color:#b0dcfe}

.element-blank{background:transparent;cursor:auto}

.element-blank.full{height:55px /2;clear:both;width:100%}

@media screen and (max-width: 989px){#wrapper{width:90%}#wrapper .element-blank{display:none}#key{position:static;width:100%;left:165px;z-index:100;margin-top:20px;margin-bottom:10px}#key ul{width:28%;min-width:150px;margin-right:5%}#key ul:nth-of-type(3){margin-right:0}}

.description{color: #2C30A8;text-align: center;left: 0; margin-bottom: 0px;font-size: calc(0.75rem + 20 * (10vw - 15px) / 880);font-family: TREBUCHET MS, sans-serif;position: absolute;width: 100%;z-index: 0}

.line1{width: 70%;height: 1px;background-color: #2C30A8;z-index: 50;margin-left: 15%}

.socials-container{flex: 0 0 auto}

